absl-py==1.4.0
ace_tools==0.0
agentops==0.1.11
aiofiles==23.2.1
aiohttp==3.9.5
aioprocessing==2.0.1
aiosignal==1.3.1
altair==4.2.2
analytics-python==1.2.9
anyio==3.6.2
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asciitree==0.3.3
asgiref==3.6.0
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==22.2.0
Babel==2.15.0
backcall==0.2.0
backoff==2.2.1
Backtesting==0.3.3
bcrypt==4.1.3
beautifulsoup4==4.12.3
bitarray==2.7.3
black==24.4.2
bleach==6.1.0
blinker==1.8.2
blis==0.7.11
bokeh==3.4.0
bs4==0.0.1
build==1.2.1
cachetools==5.3.0
catalogue==2.0.10
certifi==2024.6.2
cffi==1.16.0
chardet==5.1.0
charset-normalizer==3.0.1
chroma-hnswlib==0.7.3
chromadb==0.5.0
click==8.1.3
cloudpathlib==0.16.0
cmdstanpy==1.1.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.2
confection==0.1.3
contourpy==1.2.1
convertdate==2.4.0
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.8
Cython==0.29.33
cytoolz==0.12.1
dataclasses-json==0.5.8
dataset-fetcher==1.0.0
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dirtyjson==1.0.8
distro==1.9.0
Django==4.2.3
django-axes==6.0.5
django-cors-headers==4.3.1
django-ranged-response==0.2.0
django-simple-captcha==0.5.18
dm-tree==0.1.8
dnspython==2.3.0
docker==6.0.1
docker-pycreds==0.4.0
docopt==0.6.2
docx2txt==0.8
duckdb==0.10.3
duckduckgo-search==2.8.5
dukpy==0.3.0
easyocr==1.7.1
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl#sha256=6215d71a3212690e9aec49408a27e3fe6ad7cd6c715476e93d70dc784041e93e
entrypoints==0.4
ephem==4.1.4
eth-abi==4.0.0b2
eth-account==0.8.0
eth-hash==0.5.1
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.3.0
eth-utils==2.1.0
etils==1.7.0
executing==1.2.0
fairscale==0.4.13
faiss-cpu==1.8.0
Faker==19.13.0
fastapi==0.95.2
fastjsonschema==2.16.3
filelock==3.9.0
fire==0.5.0
flake8==6.0.0
Flask==3.0.3
Flask-Cors==4.0.1
flatbuffers==23.5.26
fonttools==4.38.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.10.0
future==0.18.3
gast==0.4.0
gensim==4.3.1
geopandas==1.0.1
git-filter-repo==2.38.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.85.0
google-auth==2.17.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
gql==3.5.0
graphql-core==3.2.3
graphviz==0.20.1
greenlet==3.0.3
groq==0.6.0
grpcio==1.63.0
gTTS==2.3.1
gunicorn==20.1.0
h11==0.14.0
h2o==3.38.0.4
h5py==3.9.0
HeapDict==1.0.1
helm==0.4
hexbytes==0.3.0
hijri-converter==2.2.4
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.17.3
humanfriendly==10.0
idna==3.4
imageio==2.35.1
imbalanced-learn==0.13.0
imblearn==0.0
importlib-metadata==7.0.0
importlib_resources==6.1.2
iniconfig==2.0.0
install==1.3.5
ipykernel==6.19.4
ipynbname==2024.1.0.0
ipython==8.12.3
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
janus==1.0.0
jedi==0.18.2
Jinja2==3.1.4
joblib==1.2.0
json5==0.9.25
jsonpatch==1.33
jsonpath-ng==1.6.1
jsonpickle==3.0.3
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==7.4.8
jupyter_core==5.1.1
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
kaleido==0.2.0
keras==2.13.1
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
kubernetes==29.0.0
langchain==0.0.202
langchain-core==0.2.0
langchainplus-sdk==0.0.10
langcodes==3.3.0
langsmith==0.1.59
lazy_loader==0.4
libclang==16.0.0
litellm==1.37.16
llama-index==0.10.37
llama-index-agent-openai==0.2.5
llama-index-cli==0.1.12
llama-index-core==0.10.37.post1
llama-index-embeddings-openai==0.1.9
llama-index-indices-managed-llama-cloud==0.1.6
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.19
llama-index-multi-modal-llms-openai==0.1.6
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.22
llama-index-readers-llama-parse==0.1.4
llama-parse==0.4.3
llamaindex-py-client==0.1.19
llvmlite==0.42.0
localpip==1.0.7
loguru==0.7.0
lru-dict==1.1.8
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.9.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
mmh3==4.1.0
monotonic==1.6
more-itertools==10.6.0
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.7.3
ncps==1.0.1
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
nltk==3.8.1
notebook==7.2.0
notebook_shim==0.2.4
numba==0.59.1
numexpr==2.8.4
numpy==2.2.3
oauthlib==3.2.2
objgraph==3.6.1
ollama==0.2.1
onnxruntime==1.18.0
openai==1.30.1
openai-whisper==20240930
openapi-schema-pydantic==1.2.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
opt-einsum==3.3.0
optional==0.0.1
orjson==3.10.3
overrides==7.7.0
packaging==23.2
pandas==2.2.3
pandasai==2.2.7
pandocfilters==1.5.1
parsimonious==0.9.0
parso==0.8.3
pathspec==0.12.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.3.0
pinecone-client==2.2.1
pipreqs==0.5.0
platformdirs==2.6.0
playsound==1.2.2
plotly==5.22.0
pluggy==1.5.0
ply==3.11
pmdarima==2.0.2
pocketsphinx==5.0.2
polars==0.18.15
posthog==3.5.0
preshed==3.0.9
prometheus_client==0.20.0
promise==2.3
prompt-toolkit==3.0.36
prosperity2bt==0.6.1
protobuf==3.20.3
psutil==5.9.8
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pyclipper==1.3.0.post5
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.7
pydeck==0.8.0
pydub==0.25.1
pyflakes==3.0.1
pygame==2.5.2
Pygments==2.13.0
pykan==0.2.8
PyMeeus==0.5.12
Pympler==1.0.1
pynndescent==0.5.12
pyobjc==10.0
pyobjc-core==10.0
pyobjc-framework-Accessibility==10.0
pyobjc-framework-Accounts==10.0
pyobjc-framework-AddressBook==10.0
pyobjc-framework-AdServices==10.0
pyobjc-framework-AdSupport==10.0
pyobjc-framework-AppleScriptKit==10.0
pyobjc-framework-AppleScriptObjC==10.0
pyobjc-framework-ApplicationServices==10.0
pyobjc-framework-AppTrackingTransparency==10.0
pyobjc-framework-AudioVideoBridging==10.0
pyobjc-framework-AuthenticationServices==10.0
pyobjc-framework-AutomaticAssessmentConfiguration==10.0
pyobjc-framework-Automator==10.0
pyobjc-framework-AVFoundation==10.0
pyobjc-framework-AVKit==10.0
pyobjc-framework-AVRouting==10.0
pyobjc-framework-BackgroundAssets==10.0
pyobjc-framework-BusinessChat==10.0
pyobjc-framework-CalendarStore==10.0
pyobjc-framework-CallKit==10.0
pyobjc-framework-CFNetwork==10.0
pyobjc-framework-Cinematic==10.0
pyobjc-framework-ClassKit==10.0
pyobjc-framework-CloudKit==10.0
pyobjc-framework-Cocoa==10.0
pyobjc-framework-Collaboration==10.0
pyobjc-framework-ColorSync==10.0
pyobjc-framework-Contacts==10.0
pyobjc-framework-ContactsUI==10.0
pyobjc-framework-CoreAudio==10.0
pyobjc-framework-CoreAudioKit==10.0
pyobjc-framework-CoreBluetooth==10.0
pyobjc-framework-CoreData==10.0
pyobjc-framework-CoreHaptics==10.0
pyobjc-framework-CoreLocation==10.0
pyobjc-framework-CoreMedia==10.0
pyobjc-framework-CoreMediaIO==10.0
pyobjc-framework-CoreMIDI==10.0
pyobjc-framework-CoreML==10.0
pyobjc-framework-CoreMotion==10.0
pyobjc-framework-CoreServices==10.0
pyobjc-framework-CoreSpotlight==10.0
pyobjc-framework-CoreText==10.0
pyobjc-framework-CoreWLAN==10.0
pyobjc-framework-CryptoTokenKit==10.0
pyobjc-framework-DataDetection==10.0
pyobjc-framework-DeviceCheck==10.0
pyobjc-framework-DictionaryServices==10.0
pyobjc-framework-DiscRecording==10.0
pyobjc-framework-DiscRecordingUI==10.0
pyobjc-framework-DiskArbitration==10.0
pyobjc-framework-DVDPlayback==10.0
pyobjc-framework-EventKit==10.0
pyobjc-framework-ExceptionHandling==10.0
pyobjc-framework-ExecutionPolicy==10.0
pyobjc-framework-ExtensionKit==10.0
pyobjc-framework-ExternalAccessory==10.0
pyobjc-framework-FileProvider==10.0
pyobjc-framework-FileProviderUI==10.0
pyobjc-framework-FinderSync==10.0
pyobjc-framework-FSEvents==10.0
pyobjc-framework-GameCenter==10.0
pyobjc-framework-GameController==10.0
pyobjc-framework-GameKit==10.0
pyobjc-framework-GameplayKit==10.0
pyobjc-framework-HealthKit==10.0
pyobjc-framework-ImageCaptureCore==10.0
pyobjc-framework-InputMethodKit==10.0
pyobjc-framework-InstallerPlugins==10.0
pyobjc-framework-InstantMessage==10.0
pyobjc-framework-Intents==10.0
pyobjc-framework-IntentsUI==10.0
pyobjc-framework-IOBluetooth==10.0
pyobjc-framework-IOBluetoothUI==10.0
pyobjc-framework-IOSurface==10.0
pyobjc-framework-iTunesLibrary==10.0
pyobjc-framework-KernelManagement==10.0
pyobjc-framework-LatentSemanticMapping==10.0
pyobjc-framework-LaunchServices==10.0
pyobjc-framework-libdispatch==10.0
pyobjc-framework-libxpc==10.0
pyobjc-framework-LinkPresentation==10.0
pyobjc-framework-LocalAuthentication==10.0
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.0
pyobjc-framework-MailKit==10.0
pyobjc-framework-MapKit==10.0
pyobjc-framework-MediaAccessibility==10.0
pyobjc-framework-MediaLibrary==10.0
pyobjc-framework-MediaPlayer==10.0
pyobjc-framework-MediaToolbox==10.0
pyobjc-framework-Metal==10.0
pyobjc-framework-MetalFX==10.0
pyobjc-framework-MetalKit==10.0
pyobjc-framework-MetalPerformanceShaders==10.0
pyobjc-framework-MetalPerformanceShadersGraph==10.0
pyobjc-framework-MetricKit==10.0
pyobjc-framework-MLCompute==10.0
pyobjc-framework-ModelIO==10.0
pyobjc-framework-MultipeerConnectivity==10.0
pyobjc-framework-NaturalLanguage==10.0
pyobjc-framework-NetFS==10.0
pyobjc-framework-Network==10.0
pyobjc-framework-NetworkExtension==10.0
pyobjc-framework-NotificationCenter==10.0
pyobjc-framework-OpenDirectory==10.0
pyobjc-framework-OSAKit==10.0
pyobjc-framework-OSLog==10.0
pyobjc-framework-PassKit==10.0
pyobjc-framework-PencilKit==10.0
pyobjc-framework-PHASE==10.0
pyobjc-framework-Photos==10.0
pyobjc-framework-PhotosUI==10.0
pyobjc-framework-PreferencePanes==10.0
pyobjc-framework-PushKit==10.0
pyobjc-framework-Quartz==10.0
pyobjc-framework-QuickLookThumbnailing==10.0
pyobjc-framework-ReplayKit==10.0
pyobjc-framework-SafariServices==10.0
pyobjc-framework-SafetyKit==10.0
pyobjc-framework-SceneKit==10.0
pyobjc-framework-ScreenCaptureKit==10.0
pyobjc-framework-ScreenSaver==10.0
pyobjc-framework-ScreenTime==10.0
pyobjc-framework-ScriptingBridge==10.0
pyobjc-framework-SearchKit==10.0
pyobjc-framework-Security==10.0
pyobjc-framework-SecurityFoundation==10.0
pyobjc-framework-SecurityInterface==10.0
pyobjc-framework-SensitiveContentAnalysis==10.0
pyobjc-framework-ServiceManagement==10.0
pyobjc-framework-SharedWithYou==10.0
pyobjc-framework-SharedWithYouCore==10.0
pyobjc-framework-ShazamKit==10.0
pyobjc-framework-Social==10.0
pyobjc-framework-SoundAnalysis==10.0
pyobjc-framework-Speech==10.0
pyobjc-framework-SpriteKit==10.0
pyobjc-framework-StoreKit==10.0
pyobjc-framework-Symbols==10.0
pyobjc-framework-SyncServices==10.0
pyobjc-framework-SystemConfiguration==10.0
pyobjc-framework-SystemExtensions==10.0
pyobjc-framework-ThreadNetwork==10.0
pyobjc-framework-UniformTypeIdentifiers==10.0
pyobjc-framework-UserNotifications==10.0
pyobjc-framework-UserNotificationsUI==10.0
pyobjc-framework-VideoSubscriberAccount==10.0
pyobjc-framework-VideoToolbox==10.0
pyobjc-framework-Virtualization==10.0
pyobjc-framework-Vision==10.0
pyobjc-framework-WebKit==10.0
pyogrio==0.9.0
PyPAC==0.16.1
pyparsing==3.0.9
pypdf==4.2.0
PyPika==0.48.9
pyproj==3.6.1
pyproject_hooks==1.1.0
pyrsistent==0.19.3
pytesseract==0.3.13
pytest==8.2.0
pytest-asyncio==0.21.1
python-bidi==0.6.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pyttsx3==2.90
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
pyzmq==24.0.1
rdflib==7.0.0
readability-lxml==0.8.1
redis==4.5.4
referencing==0.35.1
regex==2022.10.31
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rlp==3.0.0
rpds-py==0.18.1
rsa==4.9
safetensors==0.4.0
scikit-image==0.24.0
scikit-learn==1.6.1
scikit-surprise==1.1.3
scipy==1.15.2
seaborn==0.12.2
semver==2.13.0
Send2Trash==1.8.3
sentence-transformers==3.0.1
sentencepiece==0.1.99
sentry-sdk==1.28.1
setproctitle==1.3.3
setuptools-git==1.2
shapely==2.0.4
six==1.16.0
sklearn==0.0.post1
sklearn-compat==0.1.3
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.4
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SPARQLWrapper==2.0.0
SpeechRecognition==3.10.0
SQLAlchemy==2.0.16
sqlglot==25.4.0
sqlglotrs==0.2.8
sqlparse==0.4.3
srsly==2.4.8
srt==3.5.3
stack-data==0.6.2
starlette==0.27.0
statsmodels==0.13.5
streamlit==1.36.0
striprtf==0.0.26
sympy==1.13.1
tabnet==0.1.6
tabulate==0.9.0
tblib==1.7.0
tenacity==8.3.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0rc1
tensorflow-datasets==4.9.4
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0rc1
tensorflow-metadata==1.14.0
termcolor==2.3.0
terminado==0.18.1
thinc==8.2.1
threadpoolctl==3.1.0
tifffile==2024.8.30
tiktoken==0.7.0
tinycss2==1.3.0
tldextract==3.4.0
tokenizers==0.14.1
toml==0.10.2
toolz==0.12.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado==6.2
tqdm==4.66.4
traitlets==5.8.0
transformers==4.34.1
typeguard==4.2.1
typer==0.9.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2022.7
tzlocal==4.2
umap-learn==0.5.6
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.22.0
uvloop==0.19.0
validators==0.20.0
vosk==0.3.44
wandb==0.17.0
wasabi==1.1.2
watchdog==2.3.1
watchfiles==0.21.0
wcwidth==0.2.5
weasel==0.3.4
weave==0.34.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.3
wget==3.2
wrapt==1.15.0
xgboost==1.7.3
XlsxWriter==3.0.9
xyzservices==2024.4.0
yarg==0.1.9
yarl==1.8.2
zict==2.2.0
zipp==3.15.0
